.contact-button {
  transition: background 0.3s, transform 0.3s;
  border: none;
  cursor: pointer;
}

.contact-button:hover {
  transform: translateY(-2px);
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #42879A;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background 0.3s ease;
  border: none;
}

.scroll-to-top:hover {
  transform: translateY(-3px);
  background: #e6004d;
}